@import "tailwindcss";

body {
        background-color: #0a0a0a;
        color: #e5e5e5;
      }
      
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: #171717;
      }
      ::-webkit-scrollbar-thumb {
        background: #10b981;
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #059669;
      }